ul.info
{
    list-style-type:none;
    margin:0;
}

ul.info li
{
    list-style:none;
    margin-bottom:1em;
}

ul.info li label
{
    width:100px;
    display:block;
    float:left;
}

.tab
{
    display:none;
}

#tab-1
{
    display:block;
}

ul.tabswitcher
{
    list-style-type: none;
    margin:0;
    padding:0;
    border:0;
    display:block;
    margin-left:-10px;
    margin-right:-10px;
    margin-top:-10px;
    margin-bottom:0.5em;
    background:#3a7ad2;
    padding-left:10px;
    font-size:0.9em;
}

ul.tabswitcher li
{
    list-style:none;
    display: inline;
    margin:0;
    padding:0;
}

ul.tabswitcher li a
{
    color:#b3cdf1;
    display: block;
    padding:0.25em;
    float:left;
    margin:0;
    padding-left:1.0em;
    padding-right:1.0em;
    height:1.8em;
    text-decoration:none;
    padding-top: 0.65em;
}

ul.tabswitcher li a:link
{
    outline:none;
    text-decoration:none;
}

ul.tabswitcher li a:visited
{

}


ul.tabswitcher li a:hover
{
    color:white;
}

ul.tabswitcher li.first a
{

}

ul.tabswitcher li.active a
{
    color:white;
}
