{% extends 'base.html' %}
{% block title %}Invite friends{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}invite/invite.css" />
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>
<script type="text/javascript"><!--
function onABCommComplete() {
  // OPTIONAL: do something here after the new data has been populated in your text area
}
//--></script>
<style>
 p.notice {
  display: none;
 }
</style>
{% endblock %}


{% block content %}

<h3>Thanks for signing up to help out in your constituency!</h3>
<div class="span-4">
    {% include "invite/invite_block.html" %}
</div>
<div class="span-3 box last">
<p>In order to make a big difference in our projects, we need as many willing volunteers as possible to contribute to our tasks.</p>
<p>Please tell as many friends as possible about Democracy Club, wherever they live in the country!  It will really help if you write a personal message explaining about the site and why you think it's important.</p>
<p>You can also use the "ShareThis" link below to tell friends on Facebook, Twitter, MySpace and other social networking sites.</p>
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=b709ae1d-96fa-4a11-b622-2e53080cec42&amp;type=website&amp;style=rotate"></script>
</div>
{% endblock %}
