{% extends 'base.html' %}
{% load signup_extras %}
{% load twfy_extras %}
{% block title %}TWFY Election Quiz - remind a candidate{% endblock %}
{% block section %}twfy{% endblock %}

{% block content %}
<h3>Thankyou!</h3>

<div class="span-4">

<p>We've sent your emails. Hopefully we'll get a full set of answers from your candidates soon!</p>
<p><strong>One last favour...</strong> Please tell your friends about our election survey; we think it's really useful, and the more people that know about it, the more pressure we can put on the remaining candidates to response.</p>

<a name="fb_share" type="button_count" share_url="http://election.theyworkforyou.com/" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script><br />

<a href="http://twitter.com/home/?status=I've+been+exploring+what+my+MP+candidates+think+about+local+and+national+issues+at+http%3A%2F%2Fwww.theyworkforyou.com%2F+%23ge2010"><img src="{{MEDIA_URL}}images/tweetthis.gif"></a>

<p><a href='/'>go back to the front page</a></p>

</div>
<div class="span-4 last">

{% if user.is_anonymous %}
<strong>Help out this election by joining <a href='/'>Democracy Club</a>.</strong> We're a politically neutral non-partisan group of volunteers trying to hold politicians to account and provide useful information to voters. We've already helped upload hundreds of election leaflets to <a href='http://www.thestraightchoice.org/'>TheStraightChoice</a>, built the free database of candidates at <a href='http://www.yournextmp.com/'>YourNextMP</a> and gathered lots of local issues for the <a href='http://election.theyworkforyou.com/'>TheyWorkForYou candidate quiz</a>.
{% endif %}
</div>


{% endblock %}

