#add_issue {
    background:#FFE;
    padding:0.5em;
    border:1px solid #EEE;
    margin:0;
    margin-top:1em;
    margin-bottom:1em;
}

#add_issue label {
    margin-bottom:1.0em;
}

#add_issue input {
    font-size:1.2em;
    line-height:2.0em;
    padding:0.1em;
    border:2px solid #CCC;
}

#add_issue input[type="text"] {
    margin: 0;
    margin-top:0.5em;
    width:75%;
}

#add_issue input[type=submit]
{
    width:150px;
}

#add_issue input[type=checkbox]
{
    width:auto;
}

#add_issue h3, #signup form
{
    margin-top:0;
}

#add_issue .fieldWrapper
{
    margin-bottom:1.0em;
}

input[type=text]#id_question
{
    font-size:1.5em;
    width:90%;
}

input[type=text]#id_question.sample
{
    background:#FCFCFC;
    color:#DDD;
}

input[type=text]#id_question.issue
{
    background:white;
    color:#333;
}

div.issue-box
{
    background:url("/media/gradient.png") repeat-x;
    background-position:bottom;
    padding:0.25em;
    margin-top:0.5em;
}

ul.issues
{
    list-style-type: none;
    margin:0;
    padding:0;
}

ul.issues li, li.issue
{
    list-style: none outside;
    margin:0;
    padding:0.25em;
    border-bottom:1px solid #EEE;
}

ul.issues li.row1
{
    background:#fafcff;
}

ul.issues li.row2
{

}

li.issue .abuse-button
{
    float:right;
    font-size:small;
}

ul.issues li.add-issue-button
{
    padding:0;
}

ul.issues li.add-issue-button a
{
    padding:0.25em;
    width:100%;
    display:block;
    outline:none;
}

ul.issues li.add-issue-button a:link
{
    background:white;
}

ul.issues li.add-issue-button a:hover
{
    padding:0.25em;
    background:url("/media/gradient.png") repeat-x;
}

#id_approve, #id_save
{
    font-size: 150%;
}

#id_question {
    font-size: 125%;
}

