body { 
  color: #333;
  font-size: 100%;
  background:url("images/background_stripe.png") repeat-x white;
}

th, td, caption {
 padding: 0;
}

h1, h2, h3, h4, h5 {
    color: #0a5196;
    margin:0;
    margin-top:0.5em;
    margin-bottom:0.25em;
    line-height:1.5em;
}

h2
{
    margin:0;
    margin-bottom:0.5em;
}

a {
    cursor:pointer;
}

.clear {
    clear:both;
}

p {
    text-align: justify;
}

p.small {
    font-size:0.9em;
}

#header {
    height:107px;
    padding: 10px;
    padding-top:0;
    padding-bottom:0;
}

#logo
{
    float:left;
    height:107px;
}

#logo h1 {
 margin: 0;
 padding: 0;
 font-size: 2em;
}

#logo h1 a {
 color: #021f45;
}

#logo h1 a {
 text-decoration: none
}

#main {
 background-color: white;
 padding:10px;
}

#visualization {
 width: 340px;
 height: 340px;
}

#links {
    float:right;
    margin:0.5em;
}

ul#links li {
 list-style: none;
 display: inline;
}

ul#links li a {
 text-decoration: none;
 padding: 2px;
}

ul#links li a:hover {
 background:#021f45;
 color:white;
}

#navigation {
    padding-left:10px;
    padding-right:10px;
    background:url("images/navigation_gradient.png") repeat-x;
    background-position:bottom;
    color:white;
    clear:left;
    font-size:0.9em;
}

#navigation h1, #navigation h2, #navigation h3, #navigation h4, #navigation h5
{
    color:white;
    line-height:2.0em;
    margin:0;
}

#navigation ul {
    padding:0;
    margin:0;
    padding-top: 0.65em;
    list-style-type: none;
    height:2.0em;
}

#navigation ul li {
    padding:0;
    margin:0;
    display: inline;
}

#navigation ul li a {
    margin: 0;
    padding-left:1.0em;
    padding-right:1.0em;
    border-bottom:-11em;
    text-decoration: underline;
    color:white;
    text-align:center;
}

#navigation ul li a:hover {
    background: #3a7bd3;
}

#search-constituency input {
 font-size: 1.1em;
 border: solid lightgray 0.2em;
 margin: 0;
}

#search-feedback {
 margin-top: 1em;
}

#place-search label {
 display: block;
 font-weight: normal;
}

#constituency-list {
 margin-top: 1em;
}

#constituency-list li {
 list-style: none;
}

#constituency-list input {
 margin: 0;
 margin-right: 5px;
 vertical-align: top;
}

#signup {
    background:#FFE;
    padding:0.5em;
    border:1px solid #EEE;
    margin:0.5em;
    margin-bottom:1em;
}

#signup input {
    margin: 0;
    width:75%;
}

#signup input[type=submit]
{
    width:150px;
}

#signup h3
{
    margin-top:0;
}

form ul.errorlist {
 margin: 0;
 list-style: none;
}

form ul.errorlist li {
 color: red;
 list-style: none;
 font-size: 80%;
 font-style: italic;
}

form {
 margin-top: 1em;
}

tr.errors td input, tr.errors td textarea {
 border: solid red 2px;
}

span.required {
 color: red;
 float: right;
}color: #0a5196;

input {
 font-size: 110%;
}
p.helptext {
 font-size: 80%;
 font-style: italic;
 margin-top:3px;
}

.quiet {
 font-size: 90%;
 font-style: italic;
}

#footer {
 margin: 2em;
 text-align: center;
}

ul li {
 list-style: disc outside url("images/bullet.png");
 margin-bottom: 0.3em;
}

/* Task page styles */
#section-task .project
{
    color:#666;
    margin-left:1em;
    font-size:0.9em;
}

#section-task .description
{
    font-size:1.1em;
    padding:0.5em;
    margin:0.5em;
    margin-bottom:0;
}

#section-task .actions
{
    margin:0.5em;
    margin-bottom:1.5em;
    margin-top:0;
}

#section-task .actions a
{
    padding:0.5em;
    border-bottom:1px solid #CCC;
    background-color:#EEF;
}

/* Homepage2 styles */
div.topbox
{
    background:rgba(238, 238, 255, 0.5);
    margin:0.5em;
    padding:1.0em;
    height:12em;
}

div.topbox p
{
    text-align:left;
}

div.topbox > h3
{
    margin-top:0;
}

#section-home2 > .container
{
    background:url("images/heatmap.png") no-repeat white;
    background-position:top right;
    min-height:600px;
}
