{% extends 'base.html' %}
{% block title %}{{constituency.name}}{% endblock %}

{% block content %}

<p style="float:right;"><a href='http://www.theyworkforyou.com/mp/?c={{constituency.name}}'>visit {{constituency.name}} at TheyWorkForYou.com</a></p>
<h1>{{constituency.name}}</h1>

<p>
 {% ifequal constituency.customuser_set.count 1 %}
  You're the only volunteer here so far.
 {% else %}
   There are {{constituency.customuser_set.count}} volunteers here.
 {% endifequal %}
</p>

 <p>Look out for interesting and exciting new features here, once we build them!</p>


{% endblock %}
