{% extends 'base.html' %}
{% load signup_extras %}
{% block extra-head %}
<link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}tasks/tasks.css" />
{% endblock %}

{% block title %}Transparency through volunteering{% endblock %}

{% block content %}
<div class="span-5">

<h2>Want to know what your parliamentary candidates think? Be part of the movement that's finding out.</h2>
<script type="text/javascript">
window.onload = function () { document.getElementById('id_first_name').focus(); }
</script>
<p><strong>Our volunteers have built <a href="http://election.theyworkforyou.com/quiz">the definitive guide to where all candidates stand on major issues, nationwide</a>.</strong></p>

<p>Join Democracy Club today to make sure your own candidates don't hide their views.</p>


{% if form %}
  <form action="" method="post" id="signup">
  <table>
  {{ form.as_table }}
  <tr>
   <td></td>
   <td><input type="submit" value="sign up" /></td>
  </tr>
  <tr>
   <td></td>
   <td class="small"><a href='{% url email_reminder %}'>Lost your login information?</a></td>
  </tr>
  </table>
  </form>
 {% endif %}
<p>
We are a <a href="/aboutus/">handful of volunteers</a> who care about democracy.  We occasionally suggest tasks by email that you might be interested in, <a href="/projects/">such as</a> gathering information on general election candidates. We'll also help you to collaborate with other volunteers in your area.
</p>
<!--<p>
We already know that mySociety wants to gather information on general election candidates, and TheStraightChoice wants you to help them find and share election leaflets. As the election approaches there'll be even more things to do, and you can be part of it.
</p>-->

<p class="small">We will occasionally suggest tasks on behalf of other transparency related groups, but we'll never share your private details with anyone, and we'll never send you more than two emails a week, no matter what.  Read our <a href="/aboutus/#privacy">terms and conditions</a> for more.</p>

</div>

<div class="span-3 last">

<h3>Questionnaire progress</h3>
<div id="visualization">
<img src="http://chart.apis.google.com/chart?chxt=x,y&cht=bvs&chd=s:cEj9U&chco=333399|cc0000|ff9900|73a532|ab1e94|999999&chls=2.0&chs=336x180&chxl=0:|Cons.|Lab.|Lib.Dem.|Green|UKIP|Ind.&chbh=a&chd=t:{% for party in parties %}{{party.replies_received|percentage:party.invites_sent}}{% if not forloop.last %},{% endif %}{% endfor %}&chds=0,{{ max_percentage }}&chxr=1,0,{{ max_percentage }},10" width="336" height="180" />
<!--<img src="http://chart.apis.google.com/chart?chxt=x,y&chxr=1,0,650,100&chds=0,650&cht=bvs&chco=333399|999999|cc0000|ff9900&chls=2.0&chs=336x180&chxl=0:|Con|Ind|Lab|Lib|&chbh=a&chd=t:{% for party in parties %}{{party.invites_sent}}{% if not forloop.last %},{% endif %}{% endfor %}" width="336" height="180" />-->
<p class="quiet" style="text-align:center">% survey response rate so far, by party</p>
</div>
<p>We've sent questionnaires out to all the candidates we know about, and they've already <a href="{% url chart %}">started replying</a>.  Our <strong>{{ volunteers }}</strong>-strong <a href="/statistics/">army of volunteers</a> are chasing them up to ensure they reply.</p>
<p class="quiet"><a href='http://twitter.com/democlub' target="_blank">Follow us on Twitter</a> and <a href='http://www.facebook.com/pages/Democracy-Club/316731041785' target="_blank">become a fan on Facebook</a>!</p>
<p>
<h3>Recent signups</h3>
{% include "new_signup_list.html" %}
</p>


{% endblock %}
