{% extends 'base.html' %}
{% block title %}Transparency through volunteering{% endblock %}

{% block content %}
<div class="span-4">
<h3>Thanks for signing up to help out in your constituency, {{ user.display_name }}</h3> 
<h4>What now?</h4>
<p>Before we can really start making a difference, we need to try to get <atrong>at least one volunteer in every constituency</strong> in the United Kingdom.</p>
<p>Please think if you can <a href="{% url inviteindex %}">invite some friends</a> who might be interested, or consider <a href="{% url add_constituency %}">volunteering to help in other places</a> (e.g. somewhere you're studying, or somewhere else nearby)</p>

<p>In time, we'll begin to send you occasional emails, asking if you can help with certain tasks. The first major task will be gathering information about candidates who are standing in the next election in your constituency. <a href="/aboutus/">Read about our purpose and what we're planning</a>.
</div>

<div class="span-4  last">
 <img src="/media/images/heatmap.png" width="300" />
<p class="quiet">We're trying to get volunteers in every part of the UK.  So far, we've recruited {{ volunteers }} volunteers in {{ count }} constituencies (out of a total {{ total }}).  On this map, the redder the constituency, the more volunteers we have there. <a href="/statistics/">Read more about how we're doing.</a></p>

 
</div>

{% endblock %}


