<ul class="activity">
{% for item in activity %}
    <li><a href='{{ item.user.get_absolute_url }}'>{{ item.user.display_name }}</a> in {% if item.constituency.name %}<a href='{{ item.constituency.get_absolute_url }}'>{{ item.constituency.name }}</a>{% else %}<a href='{{ item.user.home_constituency.get_absolute_url }}'>{{ item.user.home_constituency.name }}</a>{% endif %} {{ item.state_string|lower }} <a href='{{ item.task.get_absolute_url }}'>{{ item.task }}</a> <span class="quiet" style="font-size:0.7em">{{ item.date_modified.date }}</span></li>
{% endfor %}
</ul>
