<html>
<body>
<table width="100%">
<tr>
<td style="font-family:sans-serif;font-size:1.0em;">

<p>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='{{ task_url }}'>Start this task</a>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='http://{{ site.domain}}{{ user_profile.get_login_url }}'>Review all my tasks online</a>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='http://{{ ignore_url }}'>Ignore this task</a>

</p>

{% autoescape off %}{{ description_text|urlize }}{% endautoescape %}

<p>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='{{ task_url }}'>Start this task</a>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='http://{{ site.domain}}{{ user_profile.get_login_url }}'>Review all my tasks online</a>

</p>
</td>
</tr>

<tr>
<td style="font-family:sans-serif;font-size:1.0em;">
<img src='http://{{ site.domain }}/media/images/email-logo.png'/></p>

<a href='http://{{ site.domain }}'>http://{{ site.domain }}</a>
<a href='http://www.twitter.com/democlub/'>http://www.twitter.com/democlub/</a>
If you want to stop receiving these emails from us you can unsubscribe at <a href='http://{{ site.domain }}{% url unsubscribe key=user_profile.activation_key %}'>http://{{ site.domain }}{% url unsubscribe key=user_profile.activation_key %}</a>. Note this will disable your account, and it will be re-enabled if you log in again.
</td>

</tr>
</table>
</body>
</html>
