<html>
<body>
<table width="100%">
<tr>
<td style="font-family:sans-serif;font-size:1.0em;">
<p>Hi {{ user.display_name }},</p>

<p>There is a new task available for you on Democracy Club</p>
</td>
</tr>

<tr>
<td style="font-family:sans-serif;font-size:1.0em;background:#FFE;padding:0.5em;">
<h2>{{ task.name }}</h2>

<p>{% autoescape off %}{{ description_text|urlize|linebreaks }}{% endautoescape %}</p>

<p>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='http://{{ site.domain }}{% url task slug=task.slug,login_key=user_profile.activation_key %}'>Read more about this task</a>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='{{ task_url }}'>Start this task</a>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='{{ post_url }}'>Say you've complete this task</a>
  <a style="padding:0.5em; border-bottom:1px solid #CCC; background-color:#EEF;" href='{{ post_url }}'>Ignore task</a>
</p>
</td>
</tr>

<tr>
<td style="font-family:sans-serif;font-size:1.0em;">
<p>Thanks,<br/>
<img src='/media/images/logo.png'/></p>

<a href='http://{{ site.domain }}'>http://{{ site.domain }}</a>
</td>

</tr>
</table>
</body>
</html>