<div class="tasks span-5">
 {% for usertask in usertasks %}
  <div id="usertask-{{ usertask.id }}" class="task task-{{ usertask.state_string|lower }}">
   <div class="task-actions span-1 last" style="float:right;">
    <a href="{{ usertask.get_absolute_url|safe }}"><img width="100" height="40" src="http://chart.apis.google.com/chart?chs=100x50&cht=gom&chf=bg,s,00000000&chd=t:{{ usertask.task.percent_complete }}" alt="Task is {{ usertask.task.percent_complete }} complete" border="0"></a>
   </div>
   <div class="span-4">
       <h3>{{ usertask.description_link|safe }}</h3>
       <div class="task-description">
          <p>{{ usertask.task.short_description|safe }} <a class="" href="{{ usertask.get_absolute_url|safe }}">See overall progress for this task</a> {% if usertask.task.project %}<span class="quiet">Suggested by <a href='{{ usertask.task.project.url }}'>{{ usertask.task.project.name }}</a></span>{% endif %}</p>
        </div>
  </div>
  </div>
   <div class="task-actions span-4 last">
   {% for link in usertask.transition_links %}
     {{ link|safe }}
   {% endfor %}
   </div>
 <div class="clear"> </div>
 {% endfor %}
 <div class="clear"> </div>
</div>
