{% extends 'base.html' %}

{% block title %}{{ task.name }}{% endblock %}
{% block section %}task{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}tasks/tasks.css" />
{% endblock %}

{% block content %}
<div class="span-5">
<div style="margin-left:-10px; padding-left:10px; margin-right:-10px; padding-right:10px; padding-bottom:0.5em; background:url('/media/gradient.png') repeat-x;background-position:bottom;">
    <h2>{{ task.name }}{% if usertask.constituency %} in {{ usertask.constituency.name }}{% endif %}</h2>
    <div class="project">task suggested by <a href='{{ task.project.url }}'>{{ task.project.name }}</a></div>
    
    <div class="description">{% autoescape off %}
        {{ task.description|urlize|linebreaks }}
    {% endautoescape %}</div>

    {% if usertask %}
    <div class="actions">
      {% for link in usertask.transition_links %}
        {{ link|safe }}
      {% endfor %}
    </div>
    {% endif %}
    
    <h3>{{ task.get_started_users.count }} {% ifequal task.get_started_users.count 1 %}person{% else %}people{% endifequal %} currently doing this task</h3>
    {% if usertask %}
    <ul class="taskusers">
    {% with task.get_started_users as users %}
        {% include "user_list.html" %}
    {% endwith %}
    {% endif %}
    </ul>
</div>    
    <div class="quiet"><h3>How do tasks work?</h3>
    <p>When we or other organisations suggest a task that you can do we will send you an email. This email will contain links to either start the task, say you've completed the task, or to ignore the task. You can also do this by logging in and looking at the list of tasks on the tasks page, or the task currently displayed on the home page.</p>
    <p>We can tell when you've finished some tasks, but with others, you'll need to tell us when you've done it by clicking a "completed" button.</p>
    <p>When we know a task is completed, it means we can tell how much further there is to go across the whole country before it's finished.  It also means we can credit you for the work you've done.</p></div>
</div>
<div class="span-3 last">
<h3>Progress on this task</h3>
<div id="visualization">
</div>

{% block js %}
 <script type="text/javascript" src="http://www.google.com/jsapi"></script>
 <script type="text/javascript">
   google.load('visualization', '1', {packages: ['gauge']});
 </script>
 <script type="text/javascript">
 function drawVisualization() {
   // Create and populate the data table.
   var data = new google.visualization.DataTable();
   data.addColumn('string', 'Label');
   data.addColumn('number', 'Value');
   data.addRows(1);
   data.setValue(0, 0, '% complete');
   data.setValue(0, 1, {{ task.percent_complete }});

   // Create and draw the visualization.
   var chart = new google.visualization.Gauge(document.getElementById('visualization'));
   var opts = {redFrom: 90, 
               redTo: 100, 
               yellowFrom: 75,
               yellowTo: 90, 
               greenFrom: 35, 
               greenTo: 75};

    chart.draw(data, opts);
 }
 google.setOnLoadCallback(drawVisualization);
 </script>
{% endblock %}

</div>

{% endblock %}
