<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <title>Democracy Club: {% block title %}{% endblock %}</title>
	<meta name="description" content="Democracy club is building a network of election volunteers to help improve transparency in the run up to the next general election, and hopefully beyond." />
	<meta name="keywords" content="democracy, transparency, volunteer, constituency, uk, mysociety, the straight choice" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}images/favicon.ico" />
        {% block css %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}screen.css" type="text/css" media="screen, projection"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}print.css" type="text/css" media="print"/>
        <!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}ie.css" type="text/css" media="screen, projection"/><![endif]-->
        <link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}main.css" />
	<link rel="P3Pv1" href="/w3c/p3p.xml"></link>
        {% endblock %}
      {% block js %}{% endblock %}
      {% block extra-head %}{% endblock %}
    </head>

    <body id="section-{% block section %}home{% endblock %}">
      {% block header %}
      <div style="background:white">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="/"><img src='{{ MEDIA_URL }}images/logo.png' alt="Democracy Club"/></a></h1>
            </div>
            <ul id="links">
              {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
              {% block navigation %}{% endblock %}
            </ul>
            <span style="float:right;clear:right;">
                {% if not user.is_anonymous %}
                
                {% endif %}
            </span>
        </div>
      </div>
      {% endblock %}
      
      <div style="background:#3a7bd3">
          <div id="navigation" class="container">
            {% block sneakytitle %}
            <ul>
              {% if not user.is_anonymous %}
                <span class="login-status">Signed in as <a href='{{ user.get_absolute_url|safe }}'>{{ user.private_name }}</a> (<a href='{% url logout %}'>logout</a>, <a href='{% url edit_user id=user.id %}'>edit</a>)</span>
                <li><a href="{% url welcome %}">Home</a></li>
              {#<li><a href="{% url add_constituency %}">Your constituencies</a></li>#}
              {# <li><a href="{% url user id=user.id %}">Your profile</a></li> #}
              {% else %}
                <span class="login-status"><a href="{% url email_reminder %}">Log in</a></span>
                <li><a href="{% url home %}">Home</a></li>
                <li><a href="/aboutus/">About us</a></li>
              {% endif %}
                <li><a href="/constituencies/">Constituency list</a></li>
                <li><a href="/blog/">Blog</a></li> 
              
<!--                <li><a href='http://democracyclub.activeboard.com/index.spark?aBID=134686&p=1'>Discussion forum</a></li> -->
            </ul>
            {% endblock %}
          </div> 
      </div>
        <div id="main" class="container">
          <div class="notice">
            <p>We want to be ready for our candidate questionnaire in just a few days time. Make sure your constituency has <strong>lots of good issues to ask about</strong>, or we might not ask the right questions!</p>
            <p>It could be as simple as googling, or looking at the local paper, or reading an election leaflet.</p>
          </div>
          {% if not is_constituency_page %}
              {% if constituency  %}
              <div id="constituency-header">
                <!-- Not current working due to new constituencies: <a href='http://www.theyworkforyou.com/mp/?c={{constituency.name|urlencode}}' style="float:right;" target="_blank">{{constituency.name}} at TheyWorkForYou.com</a>-->
                <h2><a href='{{ constituency.get_absolute_url }}'>{{ constituency.name }}</a></h2>
              </div>
              {% endif %}
          {% endif %}
          {% if needs_activation %}
            <div class="prepend-2 span-4 append-2 last"><p class="notice">You have not confirmed your email address yet. You need to do this to continue.<br/><br/>Please check your email inbox (and your spam folder) at <em>{{ user.email }}</em> for the confirmation email with the subject 'Please confirm your registration'.</p></div>
          {% else %}
              {% if request.GET.notice %}
                <div class="prepend-2 span-4"><p class="notice">{{ request.GET.notice }}</p></div>
              {% endif %}
              {% if request.GET.error %}
                <div class="prepend-2 span-4"><p class="error">{{ request.GET.error }}</p></div>
              {% endif %}
                <div class="clear"></div>
              {% block content %}

              {% endblock %}
          {% endif %}
        </div>
	<div id="footer" class="quiet">
	  <hr />
	  Democracy Club: <a href="/aboutus/#who">built by volunteers</a>, and generously hosted by <a href="http://www.fry-it.com">Fry-IT</a>. <a href="http://www.twitter.com/democlub" target="_blank"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-b.png" alt="Follow democlub on Twitter"/></a> <a href="http://www.twitter.com/democlub" target="_blank">Follow us on Twitter</a> or <a href='http://www.facebook.com/pages/Democracy-Club/316731041785' target="_blank">become a fan on Facebook</a>.
	</div>
    {% block endpage %}{% endblock %}
    {% if google_analytics_id %}
    <!-- Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("{{ google_analytics_id }}");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    {% endif %}
    </body>
</html>
