<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <title>Democracy Club: {% block title %}{% endblock %}</title>
	<meta name="description" content="Democracy club is building a network of election volunteers to help improve transparency in the run up to the next general election, and hopefully beyond." />
	<meta name="keywords" content="democracy, transparency, volunteer, constituency, uk, mysociety, the straight choice" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}images/favicon.ico" />
        {% block css %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}screen.css" type="text/css" media="screen, projection"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}print.css" type="text/css" media="print"/>
        <!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}ie.css" type="text/css" media="screen, projection"/><![endif]-->
        <link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}main.css" />
	<link rel="P3Pv1" href="/w3c/p3p.xml"></link>
        {% endblock %}
      {% block js %}{% endblock %}
      {% block extra-head %}{% endblock %}
    </head>

    <body id="section-{% block section %}home{% endblock %}">
      {% block header %}
      <div style="background:white">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="/"><img src='{{ MEDIA_URL }}images/logo.png' alt="Democracy Club"/></a></h1>
            </div>
            <ul id="links">
              {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
              {% block navigation %}{% endblock %}
            </ul>
        </div>
      </div>
      {% endblock %}
      
      <div style="background:#3a7bd3">
          <div id="navigation" class="container">
            {% block sneakytitle %}
            <ul>
              {% if not user.is_anonymous %}
                <li><a href="{% url welcome %}">Home</a></li>
                <li><a href="{% url add_constituency %}">Your constituencies</a></li>
                {#<li><a href="{% url tasks %}">Your tasks</a></li>#}
                <li><a href="{% url logout %}">Logout</a></li>
              {% else %}
                <li><a href="{% url home %}">Home</a></li>
                <li><a href="/aboutus/">About Us</a></li>
              {% endif %}
            </ul>
            {% endblock %}
          </div> 
      </div>
      
        <div id="main" class="container">
          {% if not user.is_anonymous %}{% if not user.is_active %}
            <div class="prepend-2 span-4 append-2 last"><p class="notice">You've not confirmed your email address yet.  Please check your inbox (and your spam folder) for a confirmation email.</p></div>
          {% endif %}{% endif %}
          {% if request.GET.notice %}
            <div class="prepend-2 span-4"><p class="notice">{{ request.GET.notice }}</p></div>
          {% endif %}
          {% if request.GET.error %}
            <div class="prepend-2 span-4"><p class="error">{{ request.GET.error }}</p></div>
          {% endif %}
            <div class="clear"></div>
          {% block content %}

          {% endblock %}
        </div>
	<div id="footer" class="quiet">
	  <hr />
	  Democracy Club: <a href="/aboutus/#who">built by volunteers</a>, and generously hosted by <a href="http://www.fry-it.com">Fry-IT</a>.
	</div>
    <!-- Google Analytics -->
    <script type="text/javascript">
    /*var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));*/
    </script>
    <script type="text/javascript">
    /*try {
    var pageTracker = _gat._getTracker("UA-10926972-1");
    pageTracker._trackPageview();
    } catch(err) {}*/</script>
    </body>
</html>
