div.comments
{
    list-style: none !important;
    list-style-image: none !important;
    list-style-position: outside;
    font-size: 14px;
    margin-bottom: 20px;
}

div.comment
{
    list-style-type: none;
    list-style: none;
    margin:0;
    padding:0;
    margin-bottom:1em;
    border-bottom: 1px dotted #DDD;
}

div.comment .poster {
    color:#666;
    margin-right:0.5em;
}

div.comment .text 
{
    margin-right:0.25em;
}

div.comment .moderated
{
    color:#CCC;
}

div.comment .moderated a
{
    color:#666;
}

div.comment .time {
    font-size:0.8em;
    color:#CCC;
}

div.comment .comment_action
{
    float:right;
    font-size:0.9em;
}

form#post-comment
{
    margin:0;
}

input#id_comment
{
    width:80%;
    border:1px solid #CCC;
    font-size:1.1em;
    color:#333;
}

input#id_comment:focus
{
    color:#333;
}

input.submit-post
{
    width:15%;
    font-size:1.1em;
}

