{% extends 'base.html' %}

{% block title %}Local issue gathering{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}issues/issues.css" />
{% endblock %}

{% block content %}
<script type="text/javascript">
window.onload = function () { document.getElementById('id_question').focus(); }
</script>

<div class="span-5 task">
{% if submitted %}
 <div style="padding:0.5em;border:1px solid #EEE;margin-top:1em;margin-bottom:1em;">
    <h3 style="margin-top:0">Thank you for adding an issue!</h3>
    Please carry on adding more issues for as long as you have the energy or <a href='{% url constituency slug=constituency.slug %}'>go back</a>. Also, why not share what you've done? <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=b709ae1d-96fa-4a11-b622-2e53080cec42&amp;type=website&amp;style=rotate;"></script>
 </div>
{% else %}
 <h3>
  Research local issues
 </h3>
{% endif %}

{% if form %}
<p><a href="http://democracyclub.activeboard.com/index.spark?aBID=134686&p=3&topicID=33537484">Read for more information</a> and a video from Tom Steinberg explaining the task in our forum, help us hold your new MPs to account before and after the election.</p>
    <form action="" method="post" id="add_issue">
         <div class="fieldWrapper">
            {{ form.constituency.errors }}
            {{ form.question.errors }}
            <label for="id_question">
                1. Enter a simple, clear statement on a local issue which you believe some local candidates would agree with, and which others would disagree with.
            </label>
            {{ form.question }}
            <p class="helptext">
                e.g. "The bypass around Lancaster should be built"
                <br>
                No questions! Just statements.
                Keep it <strong>genuinely local</strong> to {{ constituency.name }} constituency.
                We'll ask candidates national questions anyway, separately.
                Make sure it <strong>divides the candidates</strong>. 
            </p>
        </div>
        <div class="fieldWrapper">
            {{ form.reference_url.errors }}
            <label for="id_question">
                2. If possible, please provide a link that shows that this is a real local issue
        </label>
            {{ form.reference_url }}
            <p class="helptext">
                e.g. http://www.cares.ukhome.net/
            </p>
        </div>
        <input type="submit" value="Save" />
    </form>
{% endif %}
 <p></p>
</div>

<div class="span-3 last">
{% if issues %}
 <h3>Existing issues in {{ constituency.name }}</h3>
 <ul>
 {% for issue in issues %}
  <li><a href="{{ issue.reference_url }}" target="_blank">{{ issue.question }}</a></li>
 {% endfor %}
 </ul>
{% endif %}
<p>If you can't think of anything controversial, something is better than nothing!</p>
<h3>Resources</h3>
<a href='http://democracyclub.activeboard.com/index.spark?aBID=134686&p=3&topicID=33537484'>Read more about the task, including video</a>
<a href='http://www.google.com/'>Google!</a><br/>
<a href='http://openlylocal.com/hyperlocal_sites'>Find local blogs</a><br/>
<a href='http://en.wikipedia.org/'>Wikipedia - find your candidates</a>
</div>

{% endblock %}
