ul#tasks
{
    margin-left:0.5em;
}

ul#tasks li
{
    list-style: none;
}

#tasks li.task-state-0 {
    
}

#tasks li.task-state-1 {
    background:#EFE;
}

#tasks li.task-state-2 {
    display:none;
}

#tasks li.task-state-3 {
    color:#CCC;
}