/* icons from http://www.visualpharm.com/must_have_icon_set/ */

/* Shared CSS */

a.action {
 font-size: 0.9em;
 padding: 3px;
 padding-left: 22px;
 background-position: 3px 3px;
 background-repeat: no-repeat;
 text-decoration: none;
 border:1px solid white;
 /*border: solid #bbd1f9 1px;
 border-top: solid #ecf1f9 1px;
 border-left: solid #ecf1f9 1px;*/
 background-color: white;/*#F9FBFF;*/
 width: 8em;
 outline:none;
 border-radius:0.4em;
 -moz-border-radius:0.4em;
 -webkit-border-radius:0.4em;
}

a.complete-task {
 background-image: url("./complete.png");
}

a.ignore-task {
  background-color:transparent;
  border:1px solid white;
  background-image: url("./ignore.png")
}

a.unignore-task {
 background-image: url("./unignore.png");
}

a.start-task {
 background-image: url("./start.png");
}

a.action:hover {
 border: solid #bbd1f9 1px;
 border-top: solid #ecf1f9 1px;
 border-left: solid #ecf1f9 1px;
}

a.action:active {
  background-color:#E8F0FF;
}

/* Task page CSS */

#section-task .project
{
    color:#666;
    margin-left:1em;
    font-size:0.9em;
}

#section-task .buttons
{
    margin-left:0.5em;
    margin-right:0.5em;
    padding:0.5em;
    font-size:1.2em;
}

#section-task .actions
{
    margin:0.5em;
    margin-bottom:0;
}

#section-task .description
{
    font-size:1.1em;
    padding:0.5em;
    padding-top:0;
    margin:0;
    margin-left:0.5em;
    margin-right:0.5em;
}

/* Task list CSS */
#section-tasks div.tasks hr {
 margin: 0;
}

#section-tasks div.tasks {
  padding-bottom:1em;
}

#section-tasks div.tasks h3 {
 font-size: 1em;
 margin: 0;
}

#section-tasks div.tasks p {
 font-size: 0.9em;
}

#section-tasks div.tasks h3 {
  border-bottom:1px solid #CCC;
  margin-bottom:0.5em;
}

#section-tasks div.task {
 margin-top:0.5em;
 padding-bottom:0.5em;
}

#section-tasks div.task p {
 margin-bottom: 0;
}

#section-tasks .task-ignored {
  display:none;
}

#section-tasks div.task-description {
  display: none;
  clear:left;
  background:white;
  padding:0.25em;
  margin-bottom:0.25em;
  border-radius:0.4em;
  -moz-border-radius:0.4em;
  -webkit-border-radius:0.4em;
}

#section-tasks span.completed {
 background-color: #ECFFEB;
 padding: 0.25em;
}

ul.activity {
  list-style-type:none;
  padding: 0;
  margin: 0;
  margin-bottom:1em;
}

ul.activity li {
  margin:0;
  list-style: none;
  padding:0.25em;
  border-radius:0.4em;
  -moz-border-radius:0.4em;
  -webkit-border-radius:0.4em;
}

ul.activity li.row1 {
  background:#fafcff;
}

ul.activity li.row2 {
  background:#FFF;
}

ul.activity li div.activity-comment {

}

ul.activity li div.activity-task_user {

}

#about_tasks, #about_activity {
  display:none;
  clear:both;
}
