/* icons from http://www.visualpharm.com/must_have_icon_set/ */

div.tasks hr {
 margin: 0;
}

div.tasks h3 {
 font-size: 1em;
 margin: 0;
}

div.tasks p {
 font-size: 0.8em;
}

div.tasks h3 {
 border-bottom: dotted 1px gray;
}

div.task p {
 margin-bottom: 0;
}

div.task-description {
 display: none;
}

a.action {
 font-size: 0.9em;
 padding: 3px;
 padding-left: 22px;
 background-position: 3px 3px;
 background-repeat: no-repeat;
 text-decoration: none;
 border: solid #bbd1f9 1px;
 border-top: solid #ecf1f9 1px;
 border-left: solid #ecf1f9 1px;
 background-color: #e5ecf9;
 width: 8em;
}

a.complete-task {
 background-image: url("./complete.png");
}

a.ignore-task {
 background-image: url("./ignore.png");
}

a.unignore-task {
 background-image: url("./unignore.png");
}

a.start-task {
 background-image: url("./start.png");
}

span.completed {
 background-color: green;
 color: white;
 padding: 0.25em;
}
